doctype html
html(lang='en') 
  block head 
    head  
      title Sebastian Ebert
  block main
    body
      h1 Sebastian Ebert
      nav
        a(href='/') Home
        a(href='/about') About
        a(href='resume') Résumé
        a(href='projects') Projects
        a(href='skills') Skills
        a(href='links') Links
      block content
  block footer  
    p &copy; Sebastian Ebert, 2025
     