doctype html
html(lang='en') 
  block head 
    head  
      title Sebastian Ebert
  block main
    body
      h1 Sebastian Ebert
      //- insert nav section
      block content
  block footer  
      p &copy; Sebastian Ebert, 2025
     