doctype html
html(lang='en') 
  block head 
    head  
      title Sebastian Ebert
  block main
    body
      h1 Sebastian Ebert
      nav
        a(href='index.html') Home
        a(href='about.html') About
        a(href='resume.html') Résumé
        a(href='projects.html') Projects
        a(href='skills.html') Skills
        a(href='links.html') Links
      block content
  block footer  
    p &copy; Sebastian Ebert, 2025
     