:root{
	--padding-left: 2em;
}

main {
	font-weight: bolder;
	flex-grow: 0 !important;
	margin:auto !important;
	display: grid;
}

main p{
	font-size: xxx-large;
	margin: 0;
}

main p:nth-child(2){
	justify-self: center;
}

main p:nth-child(3){
	justify-self: right;
}

@media screen and (min-width: 600px) {
	main p:nth-child(2){
		justify-self: inherit;
		padding-left: calc(var(--padding-left));
	}

	main p:nth-child(3){
		justify-self: inherit;
		padding-left: calc(var(--padding-left)  * 2);
	}
}