.details p{
	margin: 0;
}

.time{
	font-style: italic;
}

.title{
	font-weight: bold;
}

.degree{
	padding-bottom: 1em;
}

@media screen and (min-width: 600px) {
	.details{
		display:grid;
		grid-template-areas:
			"title time"
			"contractor location";
	}
	
	.time{
		grid-area: time;
		justify-self: end;
	}

	.contractor{
		grid-area: contractor;
	}

	.location{
		grid-area: location;
		justify-self: end;
	}

	.title{
		grid-area: title;
	}
}