extends ../templates/layout

block content
	h2 About
	p Full-stack developer with a wide range of language proficiencies, ranging from enterprise back-end APIs to full-stack websites, from game design and scripting through to native mobile applications.  Skilled mentor to junior developers, laying out frameworks and guidelines and leading developers to success.  Staunch proponent of automated testing, CI/CD, and using Agile Development in the way that works for whatever team you're on.