extends ../templates/layout

block content
	h2 Projects
	h3 Major Incident Management Webapp and iPhone app
	p ...

	h3 GiftScan
	p ...

	h3 Concentrix Life Insurance processing software
	p ...

	h3 Personal Game Work
	p ...

	h3 Sudoku Solver
	p ...

	//- ...Add more here!