extends ../templates/layout

block append style
	link(rel='stylesheet', type='text/css', href='css/skills.css')

block content
	h2 Skills
	ul
		li Javascript
		li Java
		li CSS
		li Redis
		li Node.js
		li HTML
		li Nginx
		li Azure
		li Azure Kubernetes Service
		li Jenkins
		li Kubernetes
		li Mentoring
		li Cypress
		li JIRA
		li Xcode
		li swiftUI
		li Confluence
		li Testing
		li Root Cause Analysis
		li SQL
		li API
		li SaaS
		li JSP
		li Swift
		li JUnit
		li Mocha
		li Mockito
		li pug
		li Git
		li VS Code
		li Bitbucket
		li Docker
		li REST API
		li Kubernetes/k8s
		li NodeJs
		li JSON
		li XML
		li HTML5
		li CSS3
		li PostgreSQL
		li Full-stack Development
		li Software Engineering
		li Automated Testing
		li Web Development
		li Continuous
		li Integration
		li MySQL
		li Scrum
		li Mercurial
		li SVN
		li Terraform
		li APIs
		li Software Design
		li Software Development
		li Object-Oriented
		li Design
		li JQuery